<body>
<div>
    <app-header></app-header>
  </div>
  
  <nav class="navbar">
    <table>
        <tr>
         <!-- <td><a routerLink="viewAllRestaurants" routerLinkActive="active" class="nav-link">View All Restaurants</a></td>
          <td><a routerLink="viewAllItems" routerLinkActive="active" class="nav-link">View All Items</a></td>
          <td><a routerLink="home" routerLinkActive="active" class="nav-link">Home</a></td>-->
      </tr>
    </table>
  </nav>

  <div class="container1" style="margin-top: 2%; margin-bottom:4%; margin-left: 6%; margin-right: 6%;" >
    <router-outlet></router-outlet>
  </div>
</body>
  