body{
    background-color: rgba(255,255,0,0.4);
    font-size: 15px;
    font-weight: bold;
}
h2{
    text-align: center;
    color: brown;
}
.btn{
    
    font-size: 22px;
    background-color: red;
      
}

label{
    color: brown;
    font-size: 20px;
}
span{
    color:red; 
}

