<body>
    <button class="btn btn-primary" (click)="goToHome()">Home</button>
    <button style="background-color:red; float: right; font-size: 22px;" (click)="logout()" class="btn btn-primary">Logout</button>
    <br>
<h2><u>View Restaurant</u></h2>
<div class="eform">
    <table class="table table-striped">
        <thead class="thread-light">
        <tr>
            <th>Restaurant_Id</th>
            <th>Restaurant_Name</th>
            <th>Address</th>
            <th>Manager_Name</th>
            <th>Contact_Number</th>
            <th>Items</th>
        </tr>
    </thead>
    <tbody>
   <tr *ngFor="let restaurant of restaurants | paginate:{ id:'abc',itemsPerPage:6,currentPage:page,totalItems:totalRecords}">
        <td><h4>{{restaurant.restaurantId}}</h4></td>
        <td><h4>{{restaurant.restaurantName}}</h4></td>
        <td><h4>{{restaurant.address.buildingName}},{{restaurant.address.area}},{{restaurant.address.streetNo}},
            {{restaurant.address.city}},{{restaurant.address.state}},
            {{restaurant.address.country}},
            {{restaurant.address.pincode}}</h4></td>
        <td><h4>{{restaurant.managerName}}</h4></td>
        <td><h4>{{restaurant.contactNumber}}</h4></td>
        <td><button class="btn btn-primary" style="background-color: #FF4500" (click)="getRestaurantItems(restaurant.restaurantName)">View Items</button></td>
        </tr>
    </tbody>
    </table>
</div>
<div class="col-md-10 offset-md-4">
    <pagination-controls id="abc" maxSixe="10" directionLink="true" (pageChange)="page=$event"></pagination-controls>
</div>
</body>