<body>
    <button class="btn btn-primary" (click)="goToHome()">Home</button>
    <button style="background-color:red; float: right; font-size: 22px;" (click)="logout()" class="btn btn-primary">Logout</button>
<h2><u>View Items By Category</u></h2>
<div class="eform">
    <form #courseApp="ngForm" (ngSubmit) ="onSubmit()">
        <br>
        <div>
            <label><h2>Category</h2></label>
            <br>
            <input type="text" placeholder="Enter Category" class="form-control" id="categoryId" name="category" 
            [(ngModel)]="item.category" #category="ngModel" required>
            <br>
            <span *ngIf="category.invalid && (category.dirty || category.touched)" class="alert">
         
              <span *ngIf="category.errors?.['required']" class="alert">
                  Category is required.
              </span>
              </span>
          </div>
      <div class="container">
        <br>
          <button type="submit" style="background-color:green; float: left; font-size: 22px; margin-left: 40%;" [disabled]="courseApp.form.invalid" id="btn" value="Search"  class="btn btn-primary">Search</button>&nbsp;&nbsp;
          <button type="reset"  style="background-color:blue; float: left; font-size: 22px; margin-left:2%;" id="btn" value="Reset"  class="btn btn-primary">Reset</button>
        </div>
        <br>
    </form>
</div>
<div class="eform">
    <table class="table table-striped">
        <thead class="thread-light">
        <tr>
            <th>Item_ID</th>
            <th>Item_Name</th>
            <th>Category</th>
            <th>Cost</th>
        </tr>
    </thead>
   <tr *ngFor="let item of items | paginate:{ id:'abc',itemsPerPage:6,currentPage:page,totalItems:totalRecords}">
    <td><h4>{{item.itemId}}</h4></td>
    <td><h4>{{item.itemName}}</h4></td>
    <td><h4>{{item.category}}</h4></td>
    <td><h4>{{item.cost}}</h4></td>
    </tr>
    </table>
</div>
<div class="col-md-10 offset-md-4">
    <pagination-controls id="abc" maxSixe="10" directionLink="true" (pageChange)="page=$event"></pagination-controls>
</div>
</body>