
body{
    font-size: 15px;
    background-color: rgba(255,255,0,0.4);
    font-weight: bold;
}
h2{
    text-align: center;
    color: brown;
}

.btn{
    font-size: 22px;
}

label{
    color: brown;
    font-size: 20px;
}

span{
    color:red;
}