<body>
    <button class="btn btn-primary" (click)="goToHome()">Home</button>
    <button style="background-color:red; float: right; font-size: 22px;" (click)="logout()" class="btn btn-primary">Logout</button>
<h2><u>View Cart Items</u></h2><br>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search By Item ID | Item Name | Category | Cost" [(ngModel)]="term">
</div>
<div class="container"> 
    <table class="table table-striped">
        <thead class="thread-light">
        <tr>
            <th><button class="btn btn-primary" style="background-color:black;"  (click)="sortItemsById()">Item_ID</button></th>
            <th><button class="btn btn-primary" style="background-color:black;"  (click)="sortItemsByName()">Item_Name</button></th>
            <th><button class="btn btn-primary" style="background-color:black;"  (click)="sortItemsByCategory()">Category</button></th>
            <th><button class="btn btn-primary" style="background-color:black;"  (click)="sortItemsByCost()">Cost</button></th>
        </tr>
        
    </thead>
    <tbody>
   <tr *ngFor="let item of items | filter:term | paginate:{ id:'abc',itemsPerPage:5,currentPage:page,totalItems:totalRecords}">
        <td><h4>{{item.itemId}}</h4></td>
        <td><h4>{{item.itemName}}</h4></td>
        <td><h4>{{item.category}}</h4></td>
        <td><h4>{{item.cost}}</h4></td>
    <td><button class="btn btn-danger" style="background-color:red" (click)="doRemoveItem(item.itemId)">Delete</button></td>
    </tr>
</tbody>
    </table>
</div>

<div class="container">
    <hr style="background-color: black;">
    <h3>Total Amount : {{totalAmount}}</h3>
    <hr style="background-color: black;">
</div>

<div class="container">
      <button type="submit" style="background-color:green; float: left; font-size: 22px; margin-left: 40%;"  id="btn" value="Submit"  class="btn btn-primary">Place Order</button>
      <button type="button" (click)="doEmptyCart()" style="background-color:blue; float: left; font-size: 22px; margin-left:2%;" id="btn" value="Reset"  class="btn btn-primary">Empty Cart</button>
    </div>
    <br><br><br>
<div class="col-md-10 offset-md-4">
    <pagination-controls id="abc" maxSixe="10" directionLink="true" (pageChange)="page=$event"></pagination-controls>
    
</div>
<br>
<h1 style="margin-left: 17%; font-style: italic;font-weight: bold;">**Note : Sorting(Ascending and Descending) of Items can be done by clicking on headings.</h1>
<br>
</body>