
body{
    font-size: 22px;
    background-color: rgba(255,255,0,0.4)
}
h2{
    text-align: center;
    color: brown;
}

h4{
    font-weight: bold;
    font-size: 20px;
}
h3{
    font-weight: bold;
    font-size: 30px;

}
th{ 
    color: rgb(133, 44, 4);
} 
.btn{
    margin:0 auto;
    font-size: 20px;
    background-color: blue; 
    float: left;
    
}